*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    color: black;
    font-family: "Work Sans";
    /* font-family: 'Playfair Display';
    font-family: "Lora"; */
}

html{
    font-size: 16px; /*se establece el tamaño base de las fuentes*/
}

header{
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 1rem; /* separa de la margen las opciones de navegación*/
}

header ul{
    display: flex;
    list-style-type: none;
    text-decoration: none;
}

header ul li {
    display: flex;
    padding: 1rem;
    font-family: "Work Sans";
}

header ul li a{
    text-decoration: none;
}

header .logo{
    margin-right: 20rem;
    justify-content: center;
    align-items: center;
}

header select{
    border: none; /*quitar los bordes del selector de idiomas*/
    margin-right: -12rem;
    font-family: "Work Sans";
    
} 

header .carrocompras{
    margin: 0;
    margin-right: 6rem;
} 



/*estilos para el mainn*/
 main{
    justify-content: center;
    align-items: center;
 }

main .primerdiv{
   background-image: url("/Imagenes/slider-2.jpg");
   background-repeat: no-repeat;
   padding: 18rem; 
   margin: 2rem;
   min-width: 50rem;
   margin-top: 1rem;
}

main div h1{
    justify-content: center;
    text-align: center;
}

main a{
    display: flex;
    text-align: center;
    justify-content: center;
    font-size:14px;
    padding: 1rem;
    color: black;
}



.ul_div_2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: -5rem; /*SE UTILIZA PARA SEPARAR LAS DOS IMAGENES*/
    list-style: none;
    width: 100%;
    padding: 5rem;
}
.ul_div_2 p{
    color: #529F0F;
    text-decoration: dashed;
    font-family: "Lora";
    ;
}
.ul_div_2 span{
    font-weight: bold; 
}


.img1 {
    background-image: url("/Imagenes/banner-1.png");
    background-repeat: no-repeat;
    margin: 0;
    padding: 12rem;
    width: 40rem;
    
    
}

.img2 {
    background-image: url("/Imagenes/banner-2.png");
    background-repeat: no-repeat;
    margin: 0;
    padding:12rem; 
    width: 40rem;
   
    
}

main .segundodiv p{
    color: #529F0F;
    font-size: 2.5rem;
    text-decoration: dashed;
    font-family: "Lora";
}
  




.tercerdiv{
    background-image: url("./Imagenes/bg-1.jpg");
    margin-top: -10rem;
    
}

.latesProduct{
    padding: 0.5rem;
    font-family: 'Playfair Display';
    text-align: center;
    font-weight: 100;
    padding-top: 5rem;
}

.lates2{
    padding: 0.5rem;
    font-family: 'Playfair Display';
    text-align: center;
    font-weight: 100;
    padding-top: 1rem;
}

.productos{
    display:flex;
    flex-wrap: wrap;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 1.5rem;
    padding: 3rem 0rem;
}
.productos li a,.p_productos,.precio_descuento, .precio_sin_descuento{
    text-align: left;
    flex-direction: column;
    text-decoration: none;
    color:#888888;
    font-weight: bold;
}

.p_productos{
    padding: 0.5rem;
    
}
.precio_descuento{
    font-size: 0.9rem;
    color: #333333;
    padding: 0.5rem;
}
.precio_sin_descuento{
    text-decoration: line-through;
    padding: 0;
    font-size: 0.9rem;
} 



.cuartodiv{
    margin: 8rem;
    text-align: center;
    color: #6d6c6c;
}
.cuartodiv p{
    padding: 0.5rem;
    font-family: 'Lora';
    font-style: italic;
    font-size: 2rem;
}
.Gre{
    margin-top: 2.1rem;
    display: block;
    font-weight: bold;
}
.customer{
    color: #888888;
    font-weight: bold;
    padding-top: 1rem;

}



.quintodiv{
    background-color: #F3F3F3;
}
.quintodiv h1{
    padding-top: 5rem;
    padding-bottom: 1rem;
    font-family: 'Playfair Display';
    text-align: center;
    font-weight: 100;
}
.quintodiv p{
    padding: 0.5rem;
    font-family: 'Playfair Display';
    text-align: center;
}
.quintodiv .productos li .p_productos{
    text-align: left;
}

.newpro{
    display: flex;
    flex-wrap: wrap;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 1.5rem;
    padding: 3rem 0rem;
}




.sextodiv{
    justify-content: flex-start;
    background-image: url("Imagenes/bg-2.jpg");
    background-size: 2200px 960px;
    height: 35vh;
}

.sextodiv h1{
    padding-top: 5rem;
    padding-bottom: 1rem;
    font-family: 'Playfair Display';
    text-align: center;
    font-weight: 100;
}
.sextodiv form{
    text-align: center;
    padding: 1.7rem;
}
.sextodiv form input{
    padding: 1rem;
}
.email{
    font-family: 'Lora';
    width: 30%;
}
.subscribe{
    font-family: 'Work Sans';
    background-color: black;
    color: #F3F3F3;
}




.septimodiv{
    background-image: url("./Imagenes/bg-1.jpg");
}
.septimodiv h1{
    padding-top: 5rem;
    padding-bottom: 1rem;
    font-family: 'Playfair Display';
    text-align: center;
    text-decoration: underline;
    font-weight: 100;
}
.septimodiv ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 1.5rem;
    padding: 3rem 0rem;
}
.septimodiv p{
    font-family: 'Lora';
    color: #529F0F;
    font-style:italic ;
    font-size: 0.8rem;
    font-weight: bold;
    text-decoration: underline;
    padding-top: 1rem;
}
.septimodiv h2{
    font-family: 'Playfair Display';
    font-weight: 100;
    padding: 1.2rem 0rem;
}
.p2_div7{
    font-family: 'Lora';
    font-weight: 100;
    line-height: 1.8rem;
}
.septimodiv span{
    font-family: 'Lora';
    font-weight: 100;
    line-height: 1.8rem;
}
.septimodiv a{
    text-decoration: underline;
    padding: 1.8rem 0rem;
    display: block;
    font-weight: bold;
}



.ul_div8{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 6rem;
    gap: 3rem;
}




.footer_parte1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 6rem;
    background-color: #f8f8f8;
    font-family: 'Playfair Display';
}
.ul_footer li{
    list-style: none;
    padding: 0.5rem;
}
.ul_footer li,a{
    text-decoration: none;
    color: #333333;
}
.a_ul_footer{
    font-size: 1.2rem;
    font-weight: bold;
}



.footer_parte2{
    background-color: #EBEBEB;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.sabujcha_footer{
    padding: 1rem;
}
.img_footer{
    padding: 1rem;
}


